@import url('https://fonts.cdnfonts.com/css/rawline');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
    font-size: 100%;
    font-family: 'Rawline', sans-serif;
}

.cabecalho {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5vh;
    box-shadow: 5px 2px 5px rgba(157, 156, 156, 0.41);
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    margin-top: 0;
    background-color: #9ad9b7;
}

.sun-img {
    max-width: 8.5vh;
}

.titulo {
    color: #06974a;
    font-size: 26px;
    font-weight: 400;
    padding-top: 1.5vh;
}

.gera-anu {
    display: flex;
    align-items: center;
}

.gera-men {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.link {
    border: 1px solid #06974a;
    background-color: #06974a;
    color: #ffffff;
    padding: 1vh;
    border-radius: 5px;
}

.link:hover {
    background-color: #b7e9cf;
    color: #06974a;
    outline: none;
}

.carousel-item {
    transition: opacity 1s ease-in-out;
}

.carousel-item img {
    max-width: 90%; /* Reduzido de 100% para 90% */
    height: auto;
    margin: 0 auto;
}

.subtitulo {
    font-size: 26px;
    color: #114522;
    font-weight: 400;
}

footer {
    color: #ffffff;
    background-color: #06974a;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

@media (max-width: 768px) {
    .cabecalho {
        flex-direction: column;
        text-align: center;
    }

    .gera-anu,
    .gera-men {
        padding-left: 0;
        padding-right: 0;
        justify-content: center;
        margin-bottom: 1rem;
    }

  .carousel-item img {
        max-width: 100%;
    }
}
